@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
  @apply bg-[#faf8ff] text-[#191b23] dark:bg-gray-900 dark:text-white;
  margin: 0;
}

a { color: inherit; }

.container { max-width: 1126px; margin: 0 auto; }

* {
  letter-spacing: 0;
}
